@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*
{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Big Shoulders Display', cursive;
      font-family: 'Lexend Deca', sans-serif;
}

.main
{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
}

.main > section
{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #e38826;
      padding: 20px 40px;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 5px;
      width: 300px;
      transition: 0.3s;
}

.main > section >h2
{
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 20px;
}

.main > section >p
{
      color: hsla(0, 0%, 100%, 0.75);
      line-height: 1.6;
      font-size: 15px;
}

.main > section >a
{
      margin-top: 100px;
      margin-bottom: 20px;
      padding: 10px 25px;
      background-color: white;
      color: #e38826;
      text-decoration: none;
      width: fit-content;
      border-radius: 20px;
      transition: 0.3s;
}

.main .first
{
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #e38826;
      padding: 20px 40px;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 5px;
}



.main .first a:hover
{
      border: 1px solid #fff;
      background-color: #e38826;
      color: #fff;
}

.main .secound
{
      display: flex;
      flex-direction: column;
      background-color: hsl(184, 100%, 22%);
      padding: 20px 40px;
      color: white;
      justify-content: unset;
      border-radius: 0;
}

.main .secound a
{
      color: hsl(184, 100%, 22%);
}

.main .secound a:hover
{
      border: 1px solid #fff;
      background-color: hsl(184, 100%, 22%);
      color: #fff;
}

.main .third
{
      display: flex;
      flex-direction: column;
      justify-content: unset;
      background-color: hsl(179, 100%, 13%);
      padding: 20px 40px;
      color: white;
      border-top-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 0;
}

.main .third .button
{
      color: hsl(179, 100%, 13%);
}

.main .third a:hover
{
      border: 1px solid #fff;
      background-color: hsl(179, 100%, 13%);
      color: #fff;
}

.main >section>a
{
      border: 1px solid transparent;
}

@media (max-width:991px) {
      .main
      {
            flex-direction: column;
            align-items: center;
            transform: translate(0,0);
            position: relative;
            top: 0;
            left: 0;
            padding: 20px;
      }
      .main > section
      {
            padding: 5px 40px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            width: 300px;
            transition: 0.3s;
      }
      .main > section.first
      {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0; 
      }   
      .main > section.third
      {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px; 
      }
}